@charset "UTF-8";

@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* 기본값 제거 */
*{padding: 0px; margin: 0px; 
	font-family:'KIMM_Bold' }	

.wrap{display: flex;justify-content: center;}
	
.container{width: 45%;margin: 1%;text-align: center;}
		
.kiosbox{width:100%; height: 1000px;}

.header{height: 250px;}


.categorybox li{display: inline-block;margin:10px 40px; color: #8e8e8e;}

/*선택된 li 꾸미기*/		
.categoryselect {color: red !important; /* 속성 충돌시 최우선순위 !important */
		border-bottom: 5px solid red; padding-bottom: 5px;}

/*---------------------------------------------------------------------------------*/		
.content{height: 700px;}
.productbox{height: 450px;display: flex;flex-wrap:wrap;}
.cartbox{height: 240px;background-color:#F5F0ED;}

/* 제품 */
.product{width: 28%; margin: 2%; }
.pprice{color: red;}
.productinfo{text-align: center;}
.price {color: red;}

/* 카트 */
.cartcontent {height: 180px;}
.carttop {display: flex;justify-content: space-between;padding: 20px 30px 0px 30px;}
.pcount {width: 30px;background-color: red;color: white;padding:5px 10px;
		display: inline-block;border-radius: 10px;text-align: center;font-size: 10px;}
/* 총금액*/
.ptotal{color: red;}

.cartbottom {display: flex;margin-top: 20px;}
.item { width: 20%; background-color: #FFFFFF;margin:10px; padding: 15px;}
.ititle{width: 100%;}
.iprice{color: red; margin:10px 0px;}


.cartbtn{display: flex;}
.cartbtn button{width: 50%;color: white;padding: 20px; font-size: 20px;}
.cancelbtn { background: black;}
.orderbtn {background: red;}
/*---------------------------------------------------------------------------------*/	
/*---------------------------------------------------------------------------------*/	
button{border: none;}

.t_title {font-size:25px;display: flex ; justify-content:center;padding:20px 30px;
		background-color:#A57454;color:#F9F7F4; border: 1px solid #A57454;}
.t_title li {display: inline-block;}	
.now {background-color:#B6927A;color:#F9F7F4;}	
.t_list {border-collapse: collapse;background-color:#F5F0ED;color:black; }
.enroll, .itemList,.orderList,.totalList 
{width: 100%; display: flex ;justify-content: center;display:none }
.enrolltable {width: 50%; height:200px;padding: 10px; }
.itemtable, .ordertable, .totaltable {width: 100%;}
.enrolltable button {width: 25%;height: 30px;border-radius: 5px;}
.itemtable button {width: 40px;height: 20px;border-radius: 5px;}











