@charset "UTF-8";

@font-face {
	font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

*{padding: 0px; margin: 0px; 	/* 여백 기본값 제거 */
	font-family:'양진체' }		/* 기본 폰트 선택 */

.wrap{display: flex;			/*레이아웃 배치*/
	justify-content: center;}
	
.container{
	width: 45%;					/*디바이스[크롬] 배율*/
	border: 1px solid #eeeeee;
	margin: 1%;
	text-align: center;}
	
/*해당 구역 사이즈*/	
.kiosbox{width:100%; height: 900px;
	border:1px solid #eeeeee; }

/*해당 구역 사이즈*/	
.header{height: 250px;}
	
.categorybox li{display: inline-block;
		margin:10px 20px; color: #8e8e8e; }
/*선택된 li 꾸미기*/		
.categorselect {color: red !important; /* 속성 충돌시 최우선순위 !important */
		border-bottom: 5px solid }

/*---------------------------------------------------------------------------------*/		
.content{height: 600px;}
.productbox{border:1px solid #eeeeee;height: 450px;
		display: flex;flex-wrap:wrap;}
/* 제품 */
.product{width: 28%;}
.pprice{color: red;}
.productinfo{text-align: center;}
.price {color: red;}

/* 카트 */
.cartcontent {background-color:#F5F0ED;}
.carttop {display: flex;justify-content: space-between;padding: 10px;}
.pcount {width: 30px;background-color: red;color: white;padding:5px 10px;
		display: inline-block;border-radius: 10px;text-align: center;font-size: 12px;}
.ptotal{color: red;}

.cartbottom {display: flex;justify-content: space-around;}
.item {background-color: #FFFFFF;margin:10px; width: 20%; align-content: center;}
.ititle{margin: 10px 0px;width: 100%;}
.iprice{color: red;}


.cartbtn{display: flex;}
.cartbtn button{width: 50%;color: white;padding: 10px; font-size: 20px;}
.cancelbtn { background: black;}
.orderbtn {background: red;}

/*해당 구역 사이즈*/
.footer{
	height: 50px;
	border:1px solid #eeeeee;
}