@charset "UTF-8";
/*----------------------20230113 정소연 start----------------*/
.wrap{display: flex; text-align: center;}

.content{width: 50%; border: 1px solid white; text-align: center;
		background-color: white;color: black;}
		
/*신규도서입력*/
.search {margin-bottom: 20px;}

/*도서현황표*/
.bookmaster{width: 100%; background-color:white; margin:0 auto;
			border-collapse: collapse;border: 1px solid black;}
			
.title {background-color:#B0C1DB; color: white;}	
.bookmaster th {padding: 5px 10px;}		
.bookmaster td {padding: 10px;}

.in{border: none; background-color: transparent; color: blue;}
.out{border: none; background-color: transparent; color: red;}


/*----------------------20230113 정소연 end------------------*/
/*----------------------20230113 권가영 start----------------*/
.content{
	position : relative;
	background-color: #FFFFFF;
	width : 50%; 
	border: 1px solid #9DABFB;
	margin : 10px;
	padding : 10px;
}

.content h5, h3{font-weight: bold; background-color :#FFFFFF; text-align: center;}

.customerTable, .customerTable td, .customerTable th{
	border : 1px solid black;
	padding : 3px;
}

.customerTable td{	background-color : #FFFFFF; text-align: center; font-size: 14px;}
.customerTable th{	background-color : #fae7e7; text-align: center; font-size: 17px;}

.customerTable{
	width : 90%; /*고객페이지테이블 화면에 꽉차게*/
	margin : auto;
}

/*고객페이지 테이블 번호*/
.customerTable #index{
	width : 10%;
}
/*고객페이지 테이블 도서*/
.customerTable #book{
	width : 45%;
}
/*고객페이지 테이블 도서 대여 여부*/
.customerTable #rental{
	width : 20%;
}
/*고객페이지 테이블 비고*/
.customerTable #note{
	width : 25%;
}

/*고객페이지 비고에 있는 버튼 */
.whatBtn{
	width : 100%;
	border-radius: 0.3em;
	background-color: #4343F5;
	color : white;
	border : none;
	margin : 0px;
	padding : 7px 3px;
}
#customerNote{
	padding : 7px;
}

/*대여여부 테이블 td*/
.rentalOX{
	background-color: white;
}

/*대여중 텍스트*/
#retalNO{
	color : red;
}
/*대여가능 텍스트*/

#retalOK{
	color : blue;
}

.noticeText{color: red;}
.noticeText p{background-color : white; text-align: center;}

/*----------------------20230113 권가영 end----------------*/