@charset "UTF-8";

.chattingwrap{
	display: flex;	
	justify-content: center;
}
.connectlistbox{
	width : 12%;
	padding :15px;
	border: 1px solid #eeeeee;
}
.connectbox{
	display: flex;	
	align-items: center;
	margin-bottom: 10px;
}
.chattingbox{
	width: 40%;
	border: 1px solid #eeeeee;
}
.contentbox{
	height:600px;
	border: 1px solid #eeeeee;
	background-color: #deeebd;
	padding: 5px 10px;
	/* 해당구역보다 내용물이 커지면 스크롤 */	
	overflow-y:auto; 
}
.alarm{
	width: 70%; margin: 20px auto;
	text-align: center;
	background-color: rgba(103,136,34,0.2);
	border-radius: 10px;
}
.secontent{
	display : flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: 10px;
}
.contentdate{
	display : flex;
	align-items: flex-end;
}
.secontent .content{
	background-color:#ffffbf;
}
.recontent{
	display : flex;
	margin-top: 10px;
}
.rcontent, .name{
	margin-left: 10px;
}
.date{
	font-size: 5px;
	margin: 0px 5px;
}
.content{
	background-color: white;
	border-radius: 5px;
	padding : 10px;
	/* 해당구역보다 내용물이 커지면 자동줄바꿈 */
	max-width: 70%;
	word-break:break-all;	
}
.msgbox{
	width: 100%;
	border:none;
	padding : 15px;
	resize: none;
}
.chattingbtnbox{
	display: flex;
	justify-content: space-between;
}
.emobtn{
	border: none;
	background-color: transparent;
	padding-left : 10px;
	font-size: 18px;
}
.emolist{
	width: 300px;
	height: 300px;
	/* 해당구역보다 내용물이 커지면 자동줄바꿈 */
	word-break:break-all;	
	overflow-y:auto; 
}
.emocontent{
	background-color: transparent !important;
}
.sendbtn{
	width: 20%;
	color:white;
	background-color:#759a27;
	border: none;
	border-radius: 5px;
	margin: 10px;
}
