@charset "UTF-8";


/*css 주석*/

/* 1. 모든 곳에 적용 */			
* { /* s */
	font-family: "궁서"; 
	color :" blue";
} /* e */

/* 2. h3 태그에 적용 */	
h3 { 				/*윗줄*/		/*취소선*/	/*밑줄*/
	text-decoration: overline line-through underline ;
	text-shadow : 20px 20px 20px orange; 
	text-align: center; color: red;
	}

/* 3. p 태그에 적용 */
p { 
	font-family: "굴림"; color:"black";
	font-size: 15px; font-style: oblique ;
	font-weight: bold;
	word-spacing: 8px;
	letter-spacing: 8px;
	line-height: 200%;
	text-align: center;
}
