@charset "UTF-8";

/*
	1. 하위 식별자	: 띄어쓰기 [식별자 하위식별자]
	2. 복수 식별자	: , 구분 [식별자, 식별자, 식별자] 

*/

.fee_t, .fee_t th, .fee_t td{
	border: solid 2px black;
}

.fee_t {	/* 테이블 */	
	border-collapse: collapse; /*테두리 병합*/
	color: black;
}

.fee_t th{ /* 해당 클래스내 th만 적용 */
	padding: 10px 20px; /*안쪽여백: 위/아래 왼/오*/
	background-color: #eeeeee;	
}

.fee_t td{ /* 해당 클래스내 td만 적용 */
	padding: 10px; 
	text-align: center; 
}

.fee_t .col1{width: 50px;}
.fee_t .col2 .col3{width: 100px;}
.fee_t .col4{ width: 200px;}
