@charset "UTF-8";


/* 1. 회원가입 입력 구역*/
.signupForm{
	width: 30%;
	margin: 30px auto;
	font-size: 20px;
}
.signupForm h3{
	font-family: 'KCCMurukmuruk';
	font-size: 30px;
	text-align: center;
}
.signupForm p{
	text-align: center;
}
/* 2. 입력상자*/
.signupForm input{
	width: 100%;
	height:45px;
	padding-left: 20px;
	border: 1px solid #e8e8e8;
	border-radius: 20px;
	
}
.title{
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0px;
}
.checkconfirm{
	font-size: 15px;
	color: #ff0034;;
}
.mailbox{display: flex;}
.mailbox button, .authbox button{
	width: 15%;
    background-color: #f59bab;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid white;
}
.authbox{ /* 인증구역 */
	display: flex;
	align-items: center;
	margin: 15px 0px;
}
.timebox{ /* 인증유효시간구역 */
	widows: 30%;
	padding-right: 10px;
}
.pimgbox{ /* 프로필구역 */
	display: flex;
	align-items: center;
}
#file{
	border: none;
}
input[type=file]::file-selector-button{
	border: none;
}
.premimg{ /* 프로필 미리보기 */
	width: 150px;
	height: 150px;
	border: 1px solid #e8e8e8;
	border-radius: 50%;
	margin: 10px;
}
.signupbtn{
	width: 100%;
    background-color: #f59bab;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    margin: 10px 0px;
}

















