@charset "UTF-8";
/* 모달 배경 만들기 */
.update_modal_wrap{
	background-color: rgba(196 ,188 ,188,50%);
	position: fixed;	/* fixed 고정위치 */
	top : 0; left: 0;	/* 왼쪽 상단 위치 설정 */
	width: 100%; height: 100%;	/* 모든 화면 감싸기 */
	/* 내용물 정 가운데 배치*/
	display: flex;
	justify-content: center; align-items: center;
	/* 모달 열기/닫기 -> js */
	display: none;
}
/* 모달 상자 만들기 */
.update_modal_box{
	background-color: white;
	width: 30%;	padding: 5%;
	border: 3px solid white;
	border-radius: 50px;
	position: relative;
}
/* 모달 버튼 꾸미기 */
.update_modal_btns button{
	border: none;
    background-color: #1b11de;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px;
}
.update_modal_btns {
	display: flex;
   	justify-content: flex-end
}

/* 모달 배경 설정*/
.modal_wrap_D {
	position: fixed;				
	top:0 ; left:0;
	width:100% ; height: 100%;
	background-color: rgba(173,173,173,0.5);	
	display:flex;
	justify-content: center;				
	align-items: center;					
	z-index: 1030;							
	display: none;
}
/* 모달 기본 설정*/
.modal_box{
	text-align: center;align-items: center;
	background-color: white;
	width: 30%; height: 30%;
	padding: 3%; border-radius: 50px;
}
.modal_title{
	font-weight: bold;
	font-size: 25px;
}
.modal_content{
	margin: 5%;
	font-size: 25px;
}
.modal_content input {
	width: 50%;
	height:40px;
	margin: 0px 10%;
	padding-left: 10%;
	border: 1px solid #e8e8e8;
	border-radius: 20px;	
}

.btns{
	width: 30%;
    background-color: #49c1a2;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px 0px;
}

.wrap{
	display: flex;
	justify-content: space-evenly;
}

.box1{
	width : 30%;
	border : solid 1px black;
	padding: 10px 50px;
}
.box2{
	width : 50%;
	border : solid 1px black;
	padding: 10px;
}
.fieldbox{
	margin: 50px 20px;
}
.fieldtable th, .fieldtable td{
	padding: 10px;
}
.form-wrap {
 background-color: white;
 color: #333;
 padding: 15px 25px;
}
.form-wrap .form-group {
 margin-top: 5px;
 }
.form-wrap .form-group label {
 display: block;
 font-weight: bold;
 margin-top: 10px;
}
.form-wrap .form-group input {
 width: 100%;
 padding: 10px;
 border: 1px solid #ddd;
 border-radius: 5px;
}
.form-wrap img {
 width: 30%;
 height: 30%;
}
.form-wrap button {
 display: block;
 width: 100%;
 color: white;
 background-color: #49c1a2;
 padding: 10px;
 margin-top: 10px;
 cursor: pointer
 }