@charset "UTF-8";

/*------------------공통-------------------*/

*{padding: 0px; margin: 0px; font-family: "맑은 고딕";}

a{color: black; text-decoration: none;}

li{list-style-type: none;}

/* 웹폰트*/
@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

/*---------------------------------------*/



/*---------------------------------------*/
#header{padding-top:20px;
		width: 1200px; margin: 0 auto;	
		display: flex; justify-content: space-between;}

.top_menu {text-align: right; padding: 10px 0px;}

.main_menu li{margin-left: 100px; padding: 30px 0px;
	display: inline-block; }
	
.main_menu li a{ font-size: 20px;
		font-family: 'ImcreSoojin';}	
	
/*---------------------------------------*/

#main_img{ 	width: 100% ; height: 350px;
	background-image: url(img/빵6.png);
	background-repeat: no-repeat;
	background-position: center;}

/*---------------------------------------*/
#content{
	width: 1200px; 	margin: 0 auto; 
	display: flex;  justify-content: space-between;}
	
/*-----사이드바----------*/
.side_bar {	width: 250px;}

.side_bar h3{
	background-color: #0CA9A3;	color: white;
	font-size: 20px; padding: 15px;	}
	
.side_bar p{padding: 15px; line-height: 150%}
.side_bar .search_input{ width: 170px; height: 30px;}
.side_bar .search_btn{ margin-left:5px; padding: 6px 10px;}
	
.side_bar h4{
	border-top:solid 2px black;
	border-bottom: solid 2px #F0F0F0;
	padding: 15px; font-size: 15px;
	margin-top:20px; }
	
.side_bar li{ padding: 10px 15px;}	
	
/*-----메인 본문-----------*/	

.main { width: 940px; display: flex; justify-content: space-between;}


/*-----게시판-----------*/

.left_content{width: 460px;}

#content h3{
	font-size:20px; font-weight: bold;
	border-bottom: solid 2px black;
	padding-bottom: 10px;}

.borad_ul{ margin: 10px 0px 40px 0px;}

.board_ul .items{display: flex; justify-content: space-between;
	padding: 10px 0px;}

/*-----제품-----------*/

.right_content{width: 460px; }
.product_ul{ width: 200px; margin: 20px 10px;}
.product_list{ display: flex; flex-wrap: wrap; }



/*---------------------------------------*/

#footer{background-color:#05354E; margin-top: 50px;}

.ft_content{width: 1200px; margin: 0 auto; color: white; padding: 30px;}
.ft_top li {display: inline-block; margin-right: 20px;
			font-weight: bold;}
.ft_sub h4 {font-size: 20px; color: pink;}			
.ft_sub{ margin:50px 10px; display: flex; justify-content: space-between; }
	



