@charset "UTF-8";

h3 { /* 1. h3 태그 꾸미기 */
	border-left: solid 10px green;
	padding-left: 10px;
}

ul{ /* 2. ul 태그 꾸미기 */
	background-color: #EEEEEE;
	border :solid 2px #cccccc;
	border-radius: 10px;
	padding : 30px;
	width: 500px;	
}

li{ /* 3. li 태그 꾸미기 */
	margin: 10px 20px; /*바깥 여백*/
	line-height: 170%; /*줄간격*/
}

form{ /* 4. form 태그 꾸미기 */
	border: solid 2px #cccccc;
	border-radius: 20px;
	padding: 20px;
	width: 300px;
	margin: 30px;
}

p { /* 5. p 태그 꾸미기 */
	border-bottom: dotted 1px #cccccc;
	padding-bottom: 10px; 
}

h4 { /* 6. h4, a 태그 꾸미기 */
	text-align: right;
}

a{ /* 7. a 태그 기본속성 제거 */
	color: black;
	text-decoration: none;	/* 밑줄 제거 */
}