@charset "UTF-8";


.write_box{
	width: 700px; 		/* 가로길이 */
	margin: 0 auto;		/* 박스 가운데 정렬 */
	/*border: 1px solid red*/
}

.write_t{
	/* border: 1px solid blue;*/ /*구역 확인용 추후 삭제*/
	border-top: 3px solid black;
	width: 700px;
}

.write_t td{
	border-bottom: 1px solid #eeeeee;
	padding: 5px; /* 안쪽 여백 */
}

.write_t input{
	width: 500px; height: 25px;
}

.write_t textarea{
	width: 500px; height: 100px; resize: none;
}

.btn_box{
	/*border: 1px solid orange;*/ /*구역 확인용 추후 삭제*/
	text-align: right; 
}

.btn_box input{
	padding: 5px;
	margin: 10px 5px;
}