@charset "UTF-8";

.wrap { display: flex;							/* 레이아웃 배치 사용 */
		justify-content: center;				/* 가운데 정렬 */
		flex-wrap: wrap;
}
.addbox, .listbox, .updatebox {border: 1px solid #eeeeee;	/* 테두리 */
					width: 40%; 				/* 가로길이 배율 */
					text-align: center;	}		/* 가운데 정렬 */

.addtable, .updatetable {margin: 0 auto;}
.listtable {margin: 0 auto; border: 1px solid black;}
.updatebox {display: none;}