@charset "UTF-8";

/* 웹폰트 */
@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 기본값 성정 : 글꼴, 색상, 여백 */
* {font-family:'맑은 고딕';
	color: black;
	margin: 0px;padding: 0px;}
a{text-decoration:none;}

/* 로고 구역 : 가운데 정렬 */
.logobox{text-align: center;}

/* 로고 제목 : 폰트, 색상 ,사이즈 */
.title{font-family: 'KIMM_Bold';
		font-size:40px;
		color: black;}
		
/* 하단 메뉴 top 위치 변경*/
.h_bottom {top:40px!important;}/*부트스트랩 설정보다 우선순위*/

/* 부트스트랩의 class 설정 변경 */
.nav-link {color: black!important;}

.h_topmenu{width: 100% ; display: flex; justify-content: flex-end;font-size: 8px; }
.h_bottommenu {width: 100% ; display: flex; justify-content: space-between;font-size: 15px; }