@charset "UTF-8";

@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {padding: 0px; margin: 0 auto;font-family: 'SUIT-Regular';font-weight: 600;}
a {text-decoration: none; color: black;}


h3 {font-family: 'twayair';margin-bottom: 3%;}

/* 헤더/푸터 임시 사이즈 설정*/
.header,.footer  {width: 100%; height: 250px;background-color: #eeeeee;}


/* 전체 사이즈 설정*/
.wrap {width: 1040px; padding: 2%; }

/* 영화 정보 설정*/
.information {padding: 1%;}
.m_title {font-family: 'twayair'; font-size: 25px;}
.m_score {border-bottom: 1px solid #888888;
			padding: 3% 0% 1% 0%;margin-bottom: 2%; }
.al img {width: 15px;}
.percent{color: red;font-weight:900;}

.bar { width:650px; ;height: 50px; 
		margin: 5% 15%; padding: 1% 3% 3% 3%;
		background-color: #eeeeee;box-shadow: 3px 3px 3px 3px gray;}
.bar span {padding:1.5%;}

/* 영화 소개 설정 */
.info_bar {background-color:#eeeeee;padding-left: 1%;margin-left:1%;}
.info_content{padding: 2%;}		
.copy{font-size: 35px;font-weight: 400;} 
.event {padding: 3%;margin:2%;
		background-color: #eeeeee;border-radius: 15px;font-size:20px; }
.point{color: red;}
.point2{font-size: 18px;}
.point3{font-size: 15px;}
.grade, .m_grade {width:90px; height: 70px; 
				border: none;border-radius: 15px; }
.grade {background-color:  rgba(255,0,0,0.6); color: white;}
.m_grade{background-color:  rgba(0,0,0,0.6); color: white;}
.review{border-top: 1px solid #888888;}
.review_item{border: 1px solid #eeeeee;padding: 0px;margin: 0px;}
.review_content{height: 100px;font-weight: 400;}
.id{padding: 3% 0%;}
.pagination {padding-top: 5%;color: black;}

/* 상영시간표 설정*/
.time_table {display:none;}
.box1 {background-color: rgba(0,0,0,0.5);color: white; 
		height: 80px;padding-top: 1%;}
.box2 {background-color: #eeeeee;}
.list{border: none; text-align:left; background-color: #eeeeee;
		width: 200px;font-size:15px; padding:4% 1% 4% 0%;
		white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.list:focus{color: red;}
.l_list:focus{color: red;}
.select{background-color: red;}
.box3 {background-color:#808080;color: white;height: 150px;padding-top: 1%;}
.movie{white-space:nowrap;overflow: hidden;text-overflow: ellipsis;}
.sit {width: 130px; height: 120px; 
		font-size:20px;font-weight:600;
		border-radius:5px;border:none;
		background-color:#40266e; color: white;}


/* 모달 배경 설정*/
.modal_wrap, .modal_wrap2 {
	position: fixed;				
	top:0 ; left:0;
	width:100% ; height: 100%;
	background-color: rgba(173,173,173,0.5);	
	display:flex;
	justify-content: center;				
	align-items: center;					
	z-index: 1030;							
	display: none;
}
/* 모달 기본 설정*/
.modal_box, .modal_box2{
	text-align: center;align-items: center;
	background-color: white;
	width: 30%; height: 80%;
	padding: 3%; border-radius: 5%;
}

.mo_table, .mo_table2 {margin: 15% 0%;}
.btns{width: 130px; font-size:20px;font-weight:600;
		 border-radius:5px;border:1px solid #cccccc;
		 background-color:  white; color:#808080; margin-top: 3%;}
.screen{margin: 5%;text-align:  center;}

.seated{flex-wrap: wrap;}
.seat{width: 45px; height: 50px;}
.selected_seat {margin: 5%;  text-align: left;}
.seat:focus {background-color: red;}
